<ion-view view-title="News Daily">
    <ion-content>
      <p >{{blog.path}}</p>
      <div ng-repeat="blog in blogs" class="list">
        <a ng-href="#/app/blog/{{blog.path}}" class="item item-thumbnail-left">
          <img ng-src="{{blog.image}}" alt="">
          <h2>{{blog.title}}</h2>
          <p>{{blog.content}}</p>
        </a>
      </div>
    </ion-content>
</ion-view>