<ion-view view-title="List Dzikir">
  <ion-content>
    <div class="list">
      <a class="item background-positive text-center dzikir-list"  ng-click="start('2', 'Allahuakbar')">
        <h1 class="positive">Allahuakbar</h1>
      </a>
      <a class="item background-positive text-center dzikir-list"  ng-click="start('11', 'Alhamdulillah')">
        <h1 class="positive">Alhamdulillah</h1>
      </a>
      <a class="item background-positive text-center dzikir-list"  ng-click="start('3', 'Subhanallah')">
        <h1 class="positive">Subhanallah</h1>
      </a>
      <a class="item background-positive text-center dzikir-list" ng-click="start('4', 'La ilaha illAllah')">
        <h1 class="positive">La ilaha illAllah</h1>
      </a>
      <a class="item background-positive text-center dzikir-list"  ng-click="start('6', 'Astagfirullah')">
        <h1 class="positive">Astagfirullah</h1>
      </a>
    </div>
  </ion-content>
</ion-view>
