
<ion-view view-title="{{dzikir}}">
    <ion-content>
      <div class="dzikir-container" >
        <div class="foreground"></div>
        <div class="dzikir-item" ng-click="addCount()">
          <h1>
            {{counter}}
          </h1>
          <h2 class="dari">
            from {{jumlah}}
          </h2>
        </div>
        <!-- <button class="button-done button button-fab button-balanced icon ion-leaf">  </button> -->
      </div>
      <div class="fab-container">
        <button class="button button-fab button-balanced icon ion-android-done" ng-click="done()"></button>
      </div>
    </ion-content>
</ion-view>