<ion-view view-title="Menu Dzikir">
    <ion-content>
      <div class="dzikir-menu__container" ng-repeat="m in menu">
        <div class="dzikir-menu--list" style="background: url({{m.image}}) no-repeat center center;background-size: cover" ng-click='m.url()'> {{m.dzikir}} </div>
      </div>
    </ion-content>
</ion-view>