﻿
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="menu-container">
        <!-- <ion-header-bar class="expanded">
            <img src="img/logo.png" class="avatar motion spin fade">
            <div class="menu-bottom">
                Dzikir Counter
            </div>
        </ion-header-bar> -->
        <ion-content class="stable-bg menu-content">
            <ion-list>
                <ion-item nav-clear class="menu-item" menu-close ui-sref="app.blog">
                    <!-- <i class="icon ion-ios-book-outline"></i> &nbsp; -->
                    News Daily
                </ion-item>
                <ion-item nav-clear class="menu-item" menu-close ui-sref="app.menu">
                    <!-- <i class="icon ion-android-hand"></i> &nbsp; -->
                    Dzikir
                </ion-item>
                <ion-item nav-clear class="menu-item" menu-close ui-sref="app.stats">
                    <!-- <i class="icon ion-ios-pie-outline"></i> &nbsp; -->
                    Stat Dzikir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
