<ion-view view-title="{{article.detail.title}}">
  <ion-content>
    <div class="list card" style="margin:0">
      <div class="item item-image">
        <img ng-src="{{article.detail.img}}">
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="news-detail-title">{{article.detail.title}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>{{article.detail.article}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
