<ion-view view-title="Dzikir History">
    <ion-content>
      <div class="list" ng-repeat="h in history">
        <a class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
            <div>
              {{h.dzikir}}
            </div>
            <div style="color:#aeaeae">
              {{h.date | date : 'medium'}}
            </div>
          <span class="badge badge-assertive">
            {{h.amount}}
          </span>
        </a>
      </div>
    </ion-content>
    <div class="fab-container">
      <button style="background-color: #F44336" class="button button-fab button-balanced icon ion-trash-b" ng-click="delHistory()"></button>
    </div>
</ion-view>