.intro-container{
  background-color: $calm;
  height: 100%;
}

.intro-item{
  background-color: $calm;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.intro-item h1 {
  color: $stable;
  width: 100%;
  text-align: center;
}

.intro-item p {
  font-size: 1.5em;
  text-align: center;
  color: $stable !important;
}

.intro-button{
  position: absolute;
  bottom:0;
  margin: 0 !important;
  font-size: 1.5em
}

.intro-button:after{
  bottom: 0;
}

.slider-pager{
  bottom: 10%;
}

.slider-pager .slider-pager-page {
  color: $stable;
}
