.dzikir-container {
  background: $stable;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.dzikir-item{
  background: #ffffff;
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2px 20px 2px;

  h2 {
    direction: rtl;
    font-size: 1.8em;
  }

  p {
    padding-top: 10px;
    font-size: 1.2em;
    text-transform: lowercase;
    font-style: italic;

    &::before {
      content: '( ';
    }

    &::after {
      content: ' )';
    }
  }
}

.dzikir-item:first-child{
  margin-top: 20px;
}

.dzikir-item h2,
.dzikir-item p{
  margin-bottom: 0;
}

.clickable {
  background-color: $calm;
  color: $stable;
  margin-bottom: 0;
  padding: 5px 10px;
}
