.dzikir-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.dzikir-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  z-index: 99;
}

.dzikir-item h1{
  font-size: 10rem;
}

.dzikir-menu__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ddd;
  width: 100%;
}

.dzikir-menu--list{
  width:100%;
  height:150px;
  font-size: 2.3em;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
