/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$assertive:                       #74cdca !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "menu";

.foreground{
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(34, 32, 32, 0.62);
}

.bar-assertive,
.bar-assertive:hover,
.bar-assertive:active {
  background-color: #74cdca !important;
}

.dzikir-item h1{
  color: rgb(116, 205, 202);
  font-family: fantasy, Roboto, Arial;
  font-size: 10rem;
  border-bottom: 2px solid;
}

.dzikir-item{
  flex-direction: column;
  height: 100%;
}

.dari{
    font-size: 1.7rem;
    color: rgba(116, 205, 202, 0.55);
    width:100%;
    text-align: center;
}

.item {
    font-size: 1.2em;
    width: 100%;
}

.menu{
  background-color: #fff !important;
}

.menu-container{
  background: url("https://unsplash.it/360/640/?image=961") 50% 50% no-repeat;
}

.menu-content{
  background:rgba(116, 205, 202, 0.48) !important;
}

.menu-item{
  font-size:2.3em !important;
  margin:30px 0;
  color:#fff;
}

.fab-container{
  position: absolute;
  bottom: 8%;
  right: 7%;
}