# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
DzikirCounter-armv7.apk
DzikirCounter-x86.apk
dzikir-counter-armv7.apk
dzikir-counter-x86.apk
dzikir-counter-armv7.keystore
dzikir-counter-x86.keystore
lodash

