<ion-view view-title="List Dzikir">
  <ion-content>
    <div class="dzikir-container">

      <!-- <div class="dzikir-item shadow-1 {{l.klass}}" ng-repeat="l in list.ListDzikir" ng-click="l.url()">
        <div class="dzikir-left">

        </div>

        <div class="dzikir-right">
          <h2> {{l.arab}} </h2>
          <p>{{l.latin}}</p>

        </div>
      </div> -->

      <div class="list card asmaul" ng-repeat="l in list.ListDzikir" ng-click="l.url()">
        <div class="asmaul-number">
          <h2>{{l.urutan}}</h2>
        </div>
        <div class="asmaul-content">
          <h2>{{l.arab}}</h2>
          <p class="latin dzikir-latin">{{l.latin}}</p>
          <h3 class="clickable" ng-if="l.klass !== ''">{{l.klass}}</h3>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
